
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Winds Gate | Software Development Company</title>
	<meta charset="utf-8">
	<meta name="description" content="Wind’s Gate is a Japanese software development and IT outsourcing firm located in Cebu City Philippines expert in developing customized software solutions for businesses." />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="css/effects.css">
	<link rel="icon" href="favicon.ico">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119607822-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-119607822-1');
	</script>
</head>


<body >

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
				<a class="navbar-brand" href="http://windsgate.com/"><img src="images/logo_small.png"	alt = ""></a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="http://windsgate.com/">HOME</a></li>
					<li><a href="http://windsgate.com/about">ABOUT US</a></li>

					<li><a href="http://windsgate.com/career">CAREER</a></li>
					<li><a href="http://windsgate.com/contact">CONTACT</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">SERVICES
            <span class="caret"></span>
          </a>
						<ul class="dropdown-menu">
							<li><a href="http://windsgate.com/services/biometrics">Biomentrics</a></li>
							<li><a href="http://windsgate.com/services/software-development">Software Development</a></li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</nav>




	<div class="jumbotron text-center">
		<img id="home-img" class="" src="images/logoindex.png" alt="">
		<p>Philippine Software Development Inc.</p>
	</div>


	<div class="container-fluid container-fluid-color text-center new-font-style">
		<h2 class="H2-color">SERVICES</h2>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-cloud-download logo-small glaph-color home-glyphicon"></span>
				<h4><a class="other-font" href="#">IT SERVICES</a></h4>
				<p></p>
			</div>
			<div class="col-sm-4">
				<span class="glyphicon glyphicon-modal-window logo-small glaph-color home-glyphicon"></span>
				<h4><a class="other-font" href="http://windsgate.com/services/biometrics">BIOMETRICS SYSTEM</a></h4>
				<p></p>
			</div>
			<div class="col-sm-4 ">
				<span class="glyphicon glyphicon-object-align-bottom logo-small glaph-color home-glyphicon"></span>
				<h4><a class="other-font" href="http://windsgate.com/services/software-development">SOFTWARE CUSTOMIZATION</a></h4>
				<p></p>
			</div>
		</div>
	</div>



	<div id="myCarousel" class="carousel slide carousel-fade text-center " data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
			<li data-target="#myCarousel" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div id="slider-font" class="carousel-inner" role="listbox">
			<div class="item active">
				<h4 class="animated slideInUp">"With our consummate and talented team of technology innovators <br> we are geared to provide ROI driven software solutions to any type of business."</h4>
			</div>
			<div class="item">
				<h4 class="animated slideInUp">"Wind's Gate delivers high quality software development services <br> at a practical cost!!"</h4>
			</div>
			<div class="item">
				<h4 class="animated slideInUp">"We strive to be one of the most trusted software development firm that <br>innovates profitable and cost-effective IT solutions."</h4>
			</div>
		</div>

		<!-- Left and right controls -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left glaph-color" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right glaph-color" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
	</div>

	<main role="main" class="container">

		<div  class="container-fluid container-fluid-color text-center new-font-style">
			<h2 id="test" class="H2-color">OUR EXPERTISE</h2>
			<div id="bars">
				<div class="row">
					<div class="bg-style">
						<div class="wrapper">
							<div class="row">
								<div class="col-sm-3">
									<div class="counter" data-cp-percentage="85" data-cp-color="#00bfeb">
									</div>
									<p>WEB DEV</p>
								</div>
								<div class="col-sm-3">
									<div class="counter" data-cp-percentage="95" data-cp-color="#EA4C89"></div>
									<p>SOFTWARE DEV</p>
								</div>
								<div class="col-sm-3">
									<div class="counter" data-cp-percentage="90" data-cp-color="#FF675B"></div>
									<p>DBMS</p>
								</div>
								<div class="col-sm-3">
									<div class="counter" data-cp-percentage="91" data-cp-color="#FF9900"></div>
									<p>SERVER</p>							
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
	</main>
	

  <script>
 
    window.addEventListener("load", function() {
				
    var circleProgress = (function(selector) {
    var wrapper = document.querySelectorAll(selector);
    Array.prototype.forEach.call(wrapper, function(wrapper, i) {
      var wrapperWidth,
        wrapperHeight,
        percent,
        innerHTML,
        context,
        lineWidth,
        centerX,
        centerY,
        radius,
        newPercent,
        speed,
        from,
        to,
        duration,
        start,
        strokeStyle,
        text;
		
      var getValues = function() {
        wrapperWidth = parseInt(window.getComputedStyle(wrapper).width);
        wrapperHeight = wrapperWidth;
        percent = wrapper.getAttribute('data-cp-percentage');
        innerHTML = '<span class="percentage"><strong>' + percent + '</strong> %</span><canvas class="circleProgressCanvas cirSize" width="' + (wrapperWidth * 1.7) + '" height="' + wrapperHeight * 1.7 + '"></canvas>';
        wrapper.innerHTML = innerHTML;
        text = wrapper.querySelector(".percentage");
        canvas = wrapper.querySelector(".circleProgressCanvas");
        wrapper.style.height = canvas.style.width = canvas.style.height = wrapperWidth + "px";
        context = canvas.getContext('2d');
        centerX = canvas.width / 2;
        centerY = canvas.height / 2;
        newPercent = 0;
        speed = 1;
        from = 0;
        to = percent;
        duration = 10000;
        lineWidth = 20;
        radius = canvas.width / 2.5 - lineWidth;
        strokeStyle = wrapper.getAttribute('data-cp-color');
        start = new Date().getTime();
      };

      function animate() {
        requestAnimationFrame(animate);
        var time = new Date().getTime() - start;
        if (time <= duration) {
          var x = easeInOutQuart(time, from, to - from, duration);
          newPercent = x;
          text.innerHTML = Math.round(newPercent) + " %";
          drawArc();
        }
      }

      function drawArc() {
        var circleStart = 1.5 * Math.PI;
        var circleEnd = circleStart + (newPercent / 50) * Math.PI;
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.beginPath();
        context.arc(centerX, centerY, radius, circleStart, 4 * Math.PI, false);
        context.lineWidth = lineWidth;
        context.strokeStyle = "#ddd";
        context.stroke();
        context.beginPath();
        context.arc(centerX, centerY, radius, circleStart, circleEnd, false);
        context.strokeStyle = strokeStyle;
        context.stroke();

      }
      var update = function() {
        getValues();
        animate();
      }
      update();
    });

    
    function easeInOutQuart(t, b, c, d) {
      if ((t /= d / 2) < 1) return c / 2 * t * t * t * t + b;
      return -c / 2 * ((t -= 2) * t * t * t - 2) + b;
    }

  });

  circleProgress('.counter');

  function getRandom(min, max) {
    return Math.random() * (max - min) + min;
  }
  }); 
	
  
  </script>
	


	<footer id="footer-color" class="container-fluid text-center">
		<div class="col-sm-12">
			<p>Wind’s Gate Philippine Software Development Inc.<a href="http://windsgate.com/" title="Visit Wind's Gate Philippines">windsgate.com</a></p>
		</div>

		<div class="col-sm-12">
			<a href="#" class="fa fa-facebook"></a>
			<a href="#" class="fa fa-twitter"></a>
			<a href="#" class="fa fa-google"></a>
			<a href="#" class="fa fa-linkedin"></a>
		</div>
	</footer>


<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</body>
</html>